# Database
# https://docs.djangoproject.com/en/1.9/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
        'ATOMIC_REQUESTS': True,
    }
}


PAYPAL_API_USERNAME = 'your api username'
PAYPAL_API_PASSWORD = 'your password'
PAYPAL_API_SIGNATURE = 'your signature'
