{% extends "oscar/catalogue/detail.html" %}

{% load i18n %}
{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load purchase_info_tags %}


{% block breadcrumbs %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
<!-- Facebook Open Graph data -->
<meta property="og:title" content="{{ product.title }} | Le Singe Savant" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.get_full_path }}" />
<meta property="og:image" content="{{ product.images.all.0.original.url }}" />
<meta property="og:description" content="{{ product.description|safe }}" />
<meta property="og:site_name" content="Le Singe Savant, brasserie urbaine à Lille" />

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@singesavantbrew">
<meta name="twitter:title" content="{{ product.title }}">
<meta name="twitter:description" content="{{ product.description|safe }}">
<meta name="twitter:creator" content="@singesavantbrew">
<meta name="twitter:image:src" content="{{ product.images.all.0.original.url }}">


{% endblock extrahead %}

{% block content %}

<article class="product_page"><!-- Start of product page -->

    <div class="row">
        {% block product_gallery %}
        <div class="col-sm-6">
            {% include "catalogue/partials/gallery.html" %}
        </div>
        {% endblock %}

        {% block product_main %}
        <div class="col-sm-6 product_main">
            {% comment %}
            This is a but clunky here.  Better to have some kind of JS-driven dashboard menu that 
            pops out when clicked.  A bit like the Django-Debug-Toolbar button
            {% endcomment %}
            {% if user.is_authenticated and user.is_staff %}
                <a class="pull-right hidden-xs" href="{% url 'dashboard:catalogue-product' pk=product.id %}"><small><i class="icon-edit"></i> {% trans "Edit this product" %}</small></a>
            {% endif %}
                <h1>{{ product.get_title }}</h1>

                {% block product_description %}
                {% if product.description %}
                <p>{{ product.description|safe }}</p>
                {% endif %}
                {% endblock %}



                <div id="variant_prices" style="display: none; visibility: hidden;">
                    {% for variant in product.children.all %}

                    {% purchase_info_for_product request variant as session %}

                    {% if session.availability.is_available_to_buy %}
                    <span value="{{ variant.id }}">{{ session.price.incl_tax|currency:session.price.currency }}</span>
                    {% endif %}

                    {% endfor %}
                </div>


            {% block product_stock_record %}
                {% include "catalogue/partials/stock_record.html" with verbose=1 %}
            {% endblock %}

            <hr/>

            {% block product_basket_form %}
                {% include "catalogue/partials/add_to_basket_form.html" %}
            {% endblock %}
        </div><!-- /col-sm-6 -->
        {% endblock %}

    </div><!-- /row -->


</article><!-- End of product page -->
{% endblock content %}

{% block extrascripts %}
{{ block.super }}

<script type="text/javascript">
 $(document).ready(function() {
     $("#id_child_id").change(function(event) {
         val = $("#id_child_id option:selected").val();
         price_el = $("#variant_prices").find('[value=' + val + ']')[0];
         price_text = $(price_el).html();

         $(".price_color").html(price_text);
     })

 })
</script>

{% endblock %}
